<br>

 <button mat-stroked-button  color="warn"   (click)="updateEmployee(null)">Add</button>

 <!-- Search....... -->
<form>
  <mat-form-field appearance="fill">
<mat-icon matPrefix>search</mat-icon>
<input  matInput name="id" [(ngModel)]="id" (ngModelChange)="search()" placeholder="Search" >
</mat-form-field>
</form>

<table mat-table [dataSource]="data" #table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let item of data; let i = index">
  </ng-container>

   <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID </th>
    <td mat-cell *matCellDef="let item"> {{item.id}} </td>
  </ng-container> 

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let item"> {{item.address}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender </th>
    <td mat-cell *matCellDef="let item"> {{item.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="hobbie">
    <th mat-header-cell *matHeaderCellDef>Hobbie</th>
    <td mat-cell *matCellDef="let item"> {{item.hobbie}} </td>
  </ng-container>

  <ng-container matColumnDef="cars">
    <th mat-header-cell *matHeaderCellDef>Cars</th>
    <td mat-cell *matCellDef="let item"> {{item.cars}} </td>
  </ng-container>

  

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let item"> {{item.date}} </td>
  </ng-container>
  <ng-container matColumnDef="file">
    <th mat-header-cell *matHeaderCellDef>Files</th>
    <td mat-cell *matCellDef="let item"><img src="{{item.file}} "></td>
  </ng-container>

  <!-- <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef>Subject</th>
    <td mat-cell *matCellDef="let item"> {{item.subject}} </td>
  </ng-container>-->

 
  <ng-container matColumnDef="action">
    <tr><th mat-header-cell *matHeaderCellDef  > Action </th></tr>
    <tr>
      <td mat-cell *matCellDef="let item" style="width:20%">
        <button mat-raised-button  color="warn" (click)="view(item.subject,item.name)">View Subject</button>
        <button mat-raised-button  color="accent"  (click)="updateEmployee(item.id)">Edit</button>
        <button mat-raised-button  color="primary" (click)="deleteEmployee(item.id)">Delete</button> 
      
      </td>
    <tr>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- <mat-paginator [pageSize]="2" [pageSizeOptions]="[2,4,5,7]" >
</mat-paginator> [length]="totalElements"-->

<mat-paginator [pageSizeOptions]="[2,4,6, 10]" [pageSize]="2"  [length]="totalElements" (page)="nextPage($event)">
   </mat-paginator> 

